.bulk-action-bar
  width: 100%
  max-width: 1000px
  margin: auto
  text-align: left
  padding-bottom: 8px

.bulk-action-bar input
  margin: 5px

.bulk-action-bar .checkbox
  margin-right: 6px
  margin-left: 3px
