button
  font-size: 16px
  padding: 8px
  border-radius: 3px
  margin: 5px 10px 5px 0
  cursor: pointer

button:disabled
  cursor: auto

button.selected
  cursor: auto
  color: black
  border-color: black
  border-width: 2px

.clickable
  cursor: pointer

input[type='checkbox']
  -webkit-appearance: none
  cursor: pointer
  width: 24px
  height: 24px
  background: white
  border-radius: 2px
  border: 1px solid #555
  position: relative
  vertical-align: middle
  padding: 10px

input[type='checkbox'].partial-check
  background: #ABC

input[type='checkbox']:checked
  background: #679

.mb-0
  margin-bottom: 0
