.modal, .overlay
  width: 100%
  height: 100%
  position: fixed
  left: 0
  top: 0

.overlay
  opacity: 0.5
  background-color: black

.modal-card
  position: relative
  max-width: 80%
  margin: 30px auto
  padding: 20px
  background-color: white
  min-height: 500px
  z-index: 10
  opacity: 1
