.mail-table
  max-width: 1000px
  margin: auto
  border-collapse: collapse

.mail-table tr.read
  background-color: #EEE

.mail-table tr
  height: 40px

.mail-table td
  border-bottom: 1px solid black
  padding: 5px
  text-align: left

.mail-table tr:first-of-type td
  border-top: 1px solid black

.mail-table td p
  max-height: 1.2em
  overflow-y: hidden
  margin: 0

.mail-table td.date
  width: 120px
